---
import { Blok, SBAsset, SBLink } from "../types";
import { getUrlFromSBLink, getWebpVersionFromSBImage } from "../utilts";

interface Props {
  blok: {
    copyright: string;
    socials: Blok<{
      image: SBAsset;
      link: SBLink;
    }>[];
  };
}

const { blok } = Astro.props;
const { copyright, socials } = blok;
---

<footer
  class="bg-gradient-to-t from-brand-primary-200 to-white flex w-full flex-col gap-4 justify-center items-center py-8 md:py-16"
>
  <ul class="flex flex-row gap-3 h-6">
    {
      socials.map((social) => (
        <a
          class="h-full"
          href={getUrlFromSBLink(social.link)}
          target="_blank"
          rel="noopener noreferrer"
        >
          <img
            class="h-full"
            src={getWebpVersionFromSBImage(social.image.filename)}
            alt={social.image.alt}
          />
        </a>
      ))
    }
  </ul>

  <p class="text-sm md:text-base">
    {copyright}
  </p>
</footer>
